# Android junk
android/.gradle/
android/.idea/
android/.kotlin/
android/build/
android/app/build/
android/local.properties
android/**/*.apk
android/**/*.aab
android/**/*.jks
android/**/*.keystore

# PC junk
pc/node_modules/
pc/dist/
pc/dist-build/
pc/dist-electron/
pc/**/*.exe